@use '../abstracts/variables';

.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
  background-color: variables.$light-blue;
  color: variables.$white;
  font-size: 0.8rem;
  min-height: 10vh;

  @media (min-width: 768px) {
      gap: 6rem;
  }
}

.footer-info {
  text-align: center;
  line-height: 1.5;
}

.footer-nav {
  display: flex;
}

.footer-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;


  &__icon {
      width: 3rem;

      &:hover {
          transform: scale(1.1);
      }
  }
}