@use '../abstracts/variables';

.btn{
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    transform: scale(1.01);
  }

  &:active{
    background-color: variables.$light-blue-hover;
  }

  &__white{
    background-color: #ffffff;
    border: 1px solid variables.$light-blue;
    color: variables.$light-blue;

  }

  &__blue{
    background-color: variables.$light-blue;
    border: 1px solid variables.$light-blue;
    color: variables.$white;
  }
}