@use '../abstracts/variables';

.card{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 1 100px;
  flex-wrap: nowrap;
  cursor: pointer;

  &:hover{
    transform: scale(1.01);
  }

  &__name{
    font-size: 0.9rem;
    line-height: 1.2;
    color: variables.$dark-grey;
    font-weight: 500;
  }

  &__price{
    font-weight: 700;
    line-height: 1.2rem;
    color: variables.$dark-grey;
  }

  &__link{
    font-weight: 700;
    line-height: 1.2rem;
    color: variables.$light-blue;
    text-decoration: none;
  }
}