@use '../abstracts/variables';

.card{
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 1 40%;
  flex-wrap: nowrap;
  cursor: pointer;

  @media (min-width: 768px) {
    flex: 1 1 23%;
  }

  @media (min-width: 1024px) {
    flex: 1 1 14%;
  }

  &:hover{
    transform: scale(1.01);
  }

  &__image{
    width: 100%;
    flex: 1;

    &__container{
      position: relative;
      display: flex;
      flex: 1;
    }

    &__button{

      &__edit{
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        background-image: url("../assets/icons/edit-button.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:hover{
          transform: scale(1.03);
        }
      }

      &__delete{
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        background-image: url("../assets/icons/delete-button.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:hover{
          transform: scale(1.03);
        }
      }

      &-container{
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        gap: 1rem;
        z-index: 1000;
      }
    }
  }

  &__name{
    font-size: 0.9rem;
    line-height: 1.2;
    color: variables.$dark-grey;
    font-weight: 500;
  }

  &__price{
    font-weight: 700;
    line-height: 1.2rem;
    color: variables.$dark-grey;
  }

  &__link{
    font-weight: 700;
    line-height: 1.2rem;
    color: variables.$light-blue;
    text-decoration: none;
  }
}