@use '../abstracts/variables';

.card{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 1 40%;
  flex-wrap: nowrap;
  cursor: pointer;

  @media (min-width: 768px) {
    flex: 1 1 23%;
  }

  @media (min-width: 1024px) {
    flex: 1 1 14%;
  }

  &:hover{
    transform: scale(1.01);
  }

  &__image{
    width: 100%;
    flex: 1;
  }

  &__name{
    font-size: 0.9rem;
    line-height: 1.2;
    color: variables.$dark-grey;
    font-weight: 500;
  }

  &__price{
    font-weight: 700;
    line-height: 1.2rem;
    color: variables.$dark-grey;
  }

  &__link{
    font-weight: 700;
    line-height: 1.2rem;
    color: variables.$light-blue;
    text-decoration: none;
  }

  @media (max-width: 1024px) {
    &:nth-last-child(-n+2){
      display: none;
    }
  }
  
}