@use '../abstracts/variables';

.form{
  width: 100%;
  max-width: 600px;

  &-fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;

    &__title{
      font-weight: 700;
      line-height: 1.2;
      color: variables.$dark-grey;
      margin-bottom: 1rem;
    }

    &__header{
      font-weight: 700;
      font-size: 1.5rem;
      color: variables.$dark-grey;
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  &-group{
    position: relative;

    &__input{
      width: 100%;
      height: 3rem;
      border: none;
      outline: none;
      padding-left: 10px;
      color: variables.$dark-grey;
      background-color: #ffffff;
      font-size: 1rem;
      border-radius: 0.5rem;

      &::placeholder{
        opacity: 0;
      }

      &:focus + .form-group__label, &:not(:placeholder-shown) + .form-group__label{
        top: 0;
        font-size: 1rem;
        color: #494949;
      }
    }

    &__label{
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: variables.$dark-grey;
      font-size: 1rem;
      transition: all 0.5s;
    }

    &__textarea{
      width: 100%;
      height: 120px;
      resize: none;
      border-radius: 0.5rem;
      outline: none;
      border: none;
      padding: 10px;
    }
  }


}