.search-toggle{
  display: none;

  @media (max-width: 768px) {
    &:checked ~ .main-header .title .title__searcher .title__searcher__input{
      display: block;
    }

    &:checked ~ .main-header .title .title__login{
      display: none;
    }
  }
}