.search-toggle{
  display: none;

  &:checked ~ .main-header .title .title__searcher .title__searcher__input{
    display: block;
  }

  &:checked ~ .main-header .title .title__login{
    display: none;
  }
}