@use '../abstracts/variables';

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1440px;
  margin: auto;

  @media (min-width: 768px) {
    padding: 2rem;
  }

  &__logo{
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
      width: 3rem;
    }
  }

  &__login{
    @media (min-width: 768px) {
      order: 3;
    }
  }

  &__searcher{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    @media (min-width: 768px) {
      flex: 1;
      max-width: 300px;
    }

    @media (min-width: 1024px) {
      max-width: 500px;
    }

    &__label{
      display: block;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      background-image: url("../assets/icons/search-black.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    &__input{
      display: none;
      border: 0;
      outline: 0;
      border-bottom: 1px solid variables.$light-grey;
      width: 100%;

      @media (min-width: 768px) {
        display: block;
      }
    }
  }
}